.LoginTop{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.LoginTop2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.img{
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 353px;
}
.img2{
    height: 160px;
    width: 400px;
}
.LoginWrap{
    padding: 20px 90px;
}
.LoginFormCard{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: -1px -1px 5px 1px #888888;
}

.LoginDetail{
    padding: 20px 0;
    text-align: center;
    font-family: "Avenir";
}
.LoginDetail h1{
    color: black;
    /* font-size: small; */
    text-align: center;
    font-family: "Avenir";
    padding: 0 10px;
    font-size: 34px !important;
    font-weight: 600;
}
.LoginDetails h3{
    color: black;
    text-align: center;
    font-family: "Avenir";
    padding: 0 10px;
    font-size: 20px;
    text-transform: uppercase;

}


@media only screen and (max-width: 600px) {
    .LoginWrap{
        padding: 20px ;
    }
    .LoginDetail h2{
        font-size: 15px;
    }
}

@media only screen and (max-width: 819px) {
    .LoginWrap {
        padding: 20px 31px;
        /* display: none; */
    }
 }

@media only screen and (min-width: 1200px) {

    .LoginWrap {
        padding: 20px 228px;
    }
    .UnderGrad{
        flex-direction: column;
    }   
}

@media only screen and (min-width: 1400px) {

    .LoginWrap {
        padding: 20px 240px;
    }
    .UnderGrad{
        flex-direction: column;
    }   
}
@media only screen and (min-width: 1600px) {

    .LoginWrap {
        padding: 20px 290px;
    }
    .UnderGrad{
        flex-direction: column;
    }   
}

@media only screen and (min-width: 1800px) {

    .LoginWrap {
        padding: 20px 416px;
    }
    .UnderGrad{
        flex-direction: column;
    }   
}

@media only screen and (min-width: 2000px) {

    .LoginWrap {
        padding: 20px 537px;
    }
    .UnderGrad{
        flex-direction: column;
    }   
}

select{
      width: -webkit-fill-available;

}
@media only screen and (min-width: 2200px) {

    .LoginWrap {
        padding: 20px 657px;
    }
    .UnderGrad{
        flex-direction: column;
    }   
}


@media only screen and (min-width: 2400px) {

    .LoginWrap {
        padding: 20px 740px;
    }
    .UnderGrad{
        flex-direction: column;
    }   
}


@media only screen and (min-width: 2643px) {

    .LoginWrap {
        
        padding: 20px 847px;
    }
    .UnderGrad{
        flex-direction: column;
    }   
}




@media only screen and (min-width: 2745px) {

    .LoginWrap {
        padding: 20px 905px
    }
    .UnderGrad{
        flex-direction: column;
    }   
}





@media only screen and (min-width: 2800px) {

    .LoginWrap {
        padding: 20px 933px;
    }
    .UnderGrad{
        flex-direction: column;
    }   
}



@media only screen and (min-width: 3000px) {

    .LoginWrap {
        padding: 20px 1020px;
    }
    .UnderGrad{
        flex-direction: column;
    }   
}


/* @media only screen and (min-width: 3790px) {
    .LoginWrap {
        padding: 20px 1374px ;
    }
    .UnderGrad{
        flex-direction: column;
    }
} */

