.Name{
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
}
.NameInfo{
    margin-bottom: 10px;
}
.GenderDOB{
    display: flex;
    gap: 0.8rem;
    /* align-items: center; */
    /* justify-content: center; */

}
.GenderDivGD p{
    margin-bottom: 0.4rem;

}
.GenderDivM p{
   
        margin-top: 0;
        margin-bottom: 0.4rem;
       
    
}


.Pad{
    padding-bottom: 30px;
}

.Last{
    padding-top: 0px;

}
.StateOrigin{
    display: flex;
    gap: 0.8rem;

}
.University{
    display: flex;
    gap: 0.8rem;

}
/* input[type="date"] {

    
    width: 200px;
    border-radius: 4px;
} */

.NameDeg{
    display: flex;
    flex-direction: column;
}
.UnderGrad{
    display: flex;
    gap: 0.8rem;
align-items: center;
padding-top: 5px;

}


.ReferSize > select{
    /* width: -webkit-fill-available; */
  /* width: 186px !important; */
  /* height: 30px !important; */
  /* color: black !important; */
  }


.ButtonDiv{
    padding-top: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.Nysc{
    display: flex;
}


.Padded{
    /* margin-top: '-66px' */
}

.GenderDiv2{
    /* max-width: 500px; */
    width: 218px;
}

@media only screen and (max-width: 800px) {

    .Padded{
        /* margin-top: '0px' ; */
  
    }


   .Name{
flex-direction: column;
   }
   .GenderDOB{
    flex-direction: column;

}
.StateOrigin{
    flex-direction: column;

}
.University{
    flex-direction: column;

}
.UnderGrad{
    display: block;
    gap: 0.8rem;
align-items: center;
flex-direction: column;

}

  }


  @media only screen and (max-width: 1200px) {
  

    .Name{
        flex-direction: column;
           }
           .GenderDOB{
            flex-direction: column;
        
        }
        .StateOrigin{
            flex-direction: column;
        
        }
        .University{
            flex-direction: column;
        
        }
        .UnderGrad{
            display: block;
            gap: 0.8rem;
        align-items: center;
        flex-direction: column;
        
        }
}