.Name{
    display: flex;
    gap: 0.8rem;
}
.NameInfo{
    margin-bottom: 10px;
}
.GenderDOB{
    display: flex;
    gap: 0.8rem;
    /* align-items: center; */
    /* justify-content: center; */

}
.StateOrigin{
    display: flex;
    gap: 0.8rem;

}
.University{
    display: flex;
    gap: 0.8rem;

}

.NameDeg{
    display: flex;
    flex-direction: column;
}
.UnderGrad{
    display: flex;
    gap: 0.8rem;
align-items: center;
}

.ButtonDiv{
    padding-top: 20px;
}


@media only screen and (max-width: 600px) {
   .Name{
flex-direction: column;
   }
   .GenderDOB{
    flex-direction: column;

}
.StateOrigin{
    flex-direction: column;

}
.University{
    flex-direction: column;

}
.UnderGrad{
    display: block;
    gap: 0.8rem;
align-items: center;
}

  }