.LoginTop{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.img{
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 200px;
}


.Card{
    border-radius: 5px;
    border: 1px solid #87AA4B;
    padding: 50px;
}
.SuccessDiv{
    display: flex;
    align-self: center;
    justify-content: center;
}

.CardCover{
    padding: 20px 100px;
}

.NoticeCover{
    padding-top: 30px;
}
.Notice{
    text-align: center;
    background-color: #87AA4B;
    color: white;
    border-radius: 5px;
    padding: 7px;
}

.Notice2{
    text-align: center;
    background-color: #87AA4B;
    color: white;
    border-radius: 5px;
    padding: 7px;
    width: 100px;
}

.Notice p{
    color: white;
}
.Notice2 p{
    color: white;
}
.Back{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {

.CardCover{
    padding: 20px 30px;
}
}

@media only screen and (min-width: 768px ) {

    .CardCover{
        padding: 20px 167px;
    }
    }

    @media only screen and (min-width: 1024px ) {

        .CardCover{
            padding: 20px 293px;
        }
        }

@media only screen and (min-width: 1400px) {

    .CardCover{
        padding: 20px 474px;
    }
    }


@media only screen and (min-width: 1800px) {

    .CardCover{
        padding: 20px 798px;
    }
    }