body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Avenir";
  src: url(./assests/fonts/AvenirLTStd-Roman.otf);
}
*{
  font-family: "Avenir";
}

h1 , h2, h3 , h4 , h5 , h6, p, label, input, body{
  font-family: "Avenir";
}
label, p{
  color:#87AA4B;
}

select, input{
  width: -webkit-fill-available;
width: auto;
height: 30px !important;
/* color: black !important; */
}

select .select{
  width: -webkit-fill-available;

}
input[type="text"] {
color: black !important;
}



.btn-success, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #87AA4B !important;
  /* width: -webkit-fill-available; */
  width: 75%;
}

.form-control::placeholder{
  /* color: black !important; */
}

